matplotlib
pytest
seaborn
numpy
pandas==1.5.3
scipy==1.10.0
scikit-learn==1.3.1
python-dotenv
colorama
datasets
dill
thefuzz
google-cloud-bigquery
google-cloud-storage==2.14.0
google-api-core==2.8.2
googleapis-common-protos==1.56.4
librosa
os
yt-dlp



# API
fastapi==0.108.0
pytz
uvicorn
# tests
httpx<0.28
pytest-asyncio
